body {
  margin-top: 10%;
  background-image: url("galaxia.png");
}

.columnas{
  column-count: 2;
  text-align:center;
   break-after: region;
}

h1, p {
  color:white;
}

button:hover {
    background-color: #48466d;
    color: white;
  }
